/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
container bg-white max-w-[1280px] max-h-[800px] w-full h-full -ml-[16rem] -mt-[10vh]
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

} */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
#root {
  @apply
  max-h-[800px]
  max-w-[1280px]
  w-full
  h-full
}
body {
  /* width: 100vw;
  height: 100vh;
  background-color: black; */
  @apply
  w-[100vw]
  h-[100vh]
  bg-black
  flex
  items-center
  justify-center
  
}

.wrapper {
  @apply
  w-full
  h-full
  flex
  flex-1
  items-center
  justify-center
  bg-black
}
.container-wrapper {
  @apply
  flex
  flex-1
  max-h-[800px]
  max-w-[1280px]
  h-full
  w-full
  bg-white
}
/* Route Screen */
.max-display-screen {
  @apply
  mx-auto
  items-center
  text-center
  w-full
  h-full
}
.use-nav-aside {
  @apply
  pt-20
  
  pl-64
}
.use-nav-top {
  @apply
  pt-20
}

/* Section */
.section-common-layout {
  @apply
  
  w-full
  h-full
}

/* Modal */
/* PopupModal */
.modal-popup-background-div {
  @apply
  absolute
  top-1/2
  left-1/2
  z-50
  bg-gray-950/60
  p-4
  overflow-x-hidden
  overflow-y-auto
  md:inset-0
  h-full
  max-h-full
}
.modal-popup-area-div {
  @apply
  relative
  w-full
  max-h-full
  h-full
}
.modal-popup-area-window-div {
  @apply
  absolute
  top-1/3
  left-1/3
  h-max
  w-max
  /* relative */
  bg-[#d9e2f3]
  rounded-lg
  shadow-[5px_5px_5px_rgba(0,0,0,0.25)]
}
.modal-popup-messages-div {
  @apply
  mb-5
  text-lg
  font-normal
  text-black
}
/* chatbot modal */
.chatbot-modal-button {
  @apply
  flex
  flex-1
  w-fit
  h-fit
  /* bg-no-repeat */
  /* bg-[url('./components/toggleModalComponents/img/buttonEllaImg.png')]; */
  /* background: url('./components/toggleModalComponents/img/buttonEllaImg.png'); */
}

.chatbot-modal-popup-background-div {
  @apply
  flex
  absolute
  top-0
  left-0
  z-50
  bg-gray-950/60
  overflow-x-hidden
  overflow-y-auto
  inset-0
  w-full
  h-full
}
.chatbot-modal-popup-area-div {
  @apply
  flex
  justify-center
  items-center
  relative
  w-full
  h-full
}
.chatbot-modal-popup-area-window-div {
  @apply
  flex
  flex-col
  w-[60%]
  h-[60%]
  min-w-fit
  relative
  bg-[#d9e2f3]
  rounded-lg
  shadow-[5px_5px_5px_rgba(0,0,0,0.25)]
}
.chatbot-modal-popup-messages-div {
  @apply
  mb-5
  
  text-lg
  font-normal
  text-black
}
.chat-ai-div {
  @apply
  flex
  row-auto
}
.chat-ai-div-child {
  @apply bg-[#ffda66]
    mb-2
    ml-1
    text-black
    max-w-fit
    h-min
    inline-block
    p-2
    rounded-tr-lg
    /* rounded-tl-lg */
    rounded-br-lg
    rounded-bl-lg
    text-base
    shadow-sm

    /* dark:bg-blue-500 */
}
.chat-user-div {
  @apply flex
  justify-end
  row-auto
}
.chat-user-div-child {
  @apply bg-[#06b0f0]
  border
  mb-2
  mr-1
  text-white
  max-w-fit
  h-min
  inline-block
  p-2
  rounded-tr-lg
  rounded-tl-lg
  /* rounded-br-lg */
  rounded-bl-lg
  text-base
  shadow-sm

  /* dark:bg-slate-50 */
}

/* Writing Center */
/* 1. Select */
.select-writing-item-button {
  @apply flex-col
  flex-1
  text-black
  bg-[#f2f2f2]
  shadow-[5px_10px_10px_rgba(0,0,0,0.25)]
  sm:w-2/5
  max-sm:w-11/12
  max-sm:mx-4
  max-sm:mt-4
  h-2/3
  rounded-3xl
  outline-none
  sm:m-auto
  p-10
  hover:ring-8
  hover:ring-yellow-400
  focus:ring-8
  focus:ring-yellow-400
  /* dark:border-yellow-300 
  dark:text-yellow-300 
  dark:hover:text-white 
  dark:hover:bg-yellow-400 
  dark:focus:ring-yellow-900 */
}
/* 1.1. topic select button */
.select-writing-topic-item-button {
  @apply 
  text-black
  w-full
  md:h-full
  max-md:h-fit
  font-bold
  shadow-[5px_10px_10px_rgba(0,0,0,0.25)]
  rounded-2xl
  outline-none
  
}

/*  */
.div-to-button-hover-effect {
  @apply
  hover:cursor-pointer
}
.outline-key-div {
  @apply
  absolute
  left-0
  top-[40%]
  text-white
  text-start
  text-xl
  w-full
  h-full
  pl-[20%]
}
.outline-content-box {
  @apply
  flex flex-1 flex-col
  justify-start
  text-start
  bg-transparent
  h-fit
  z-0
  relative
  /* bg-[url('/src/util/png/outlinTextSubBox.png')] */

}
.outline-content-box-item {
  @apply
  p-2
}

.outline-content-box-sub-item {
  @apply
  pl-4
}

.buttons-div {
  @apply
  absolute
  bottom-10
  right-10
  flex
  flex-row
  gap-4
}
.save-button {
  @apply
  border-black
  border
  rounded-md
  px-5
  py-1
  text-[#0070c0]
  font-bold
  shadow-[5px_5px_5px_rgba(0,0,0,0.25)]
  bg-white
}

/* Preview Page */
/* Buttons */
.not-disabled-button {
  @apply
  border-black
  border
  rounded-md
  px-5
  py-1
  text-[#0070c0]
  font-bold
  shadow-[5px_5px_5px_rgba(0,0,0,0.25)]
  bg-white
}
.disabled-button {
  @apply
  border-black
  border
  rounded-md
  px-5
  py-1
  text-[#0070c0]
  font-bold
  shadow-[5px_5px_5px_rgba(0,0,0,0.25)]
  bg-[#bfbfbf]
}

.tooltip {
  /* position: relative; */
  display: inline-block;
  /* border-bottom: 1px dotted black; */
  
}

.tooltip .tooltiptext {
  /* visibility: hidden;
  max-width: 200px;
  background-color: #dae3f3;
  color: #0070c0;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border: 1px solid #32538f; */

  /* Position the tooltip */
  /* position: absolute;
  z-index: 50;
  top: 100%;
  left: 50%;
  margin-left: -60px; */
  display: none;
  position: absolute;
  max-width: 200px;
  border: 1px solid #32538f;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  color: #0070c0;
  background-color: #dae3f3;
  
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #32538f transparent;
}

.tooltip:hover .tooltiptext {
  display: block;
  visibility: visible;
}

/* Custom Grammar Tooltip by floating-react */
.grammar-tooltip-custom {
  /* width: max-content; */
  min-width: 220px;
  background-color: #dae3f3;
  color: #0070c0;
  font-size: 90%;
  padding: 8px 8px;
  border-radius: 10%;
  border: 1px solid #32538f;
}
.grammar-tooltip-custom-popup {
  @apply
  flex
  flex-1
  flex-row
  gap-4
  justify-end
  
}
.grammar-tooltip-custom-popup-accept {
  @apply
  flex
  bg-white
  text-black
  border
  border-solid
  border-black
  rounded-md
  px-1
  shadow-[2px_2px_2px_rgba(0,0,0,0.25)]
}
.grammar-tooltip-custom-popup-ignore {
  @apply
  flex
  bg-white
  text-black
  border
  border-solid
  border-black
  rounded-md
  px-1
  shadow-[2px_2px_2px_rgba(0,0,0,0.25)]
}

/* Outlint Format Button Custom */
.outline-accordion-div-wrap {
  @apply
  flex
  flex-col
  w-full
  h-full
  relative
  max-h-[]
}
.outline-accordion-button {
  @apply
  flex
  flex-1
  items-center
  justify-center
  h-full
  w-full
  relative
  
  pb-5
  font-medium 
  text-center
  text-white
  bg-white 
  border-[#a5a5a5] 
  border-b-0 
  focus:ring-4 
  focus:ring-gray-200;
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 50% 100%, 0% 60%);
}
.outline-accordion-button-inner {
  @apply
  flex
  flex-1
  items-center
  justify-center
  h-full
  w-full
  relative
  p-4 
  font-medium 
  text-center
  text-white
  bg-[#a5a5a5] 
  border-[#a5a5a5] 
  border-b-0 
  focus:ring-4 
  focus:ring-gray-200;
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
}

