/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
container bg-white max-w-[1280px] max-h-[800px] w-full h-full -ml-[16rem] -mt-[10vh]
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

} */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Font : Noto Sans CJK KR */
@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: lighter;
  font-weight: 100;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Thin.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Thin.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Thin.otf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans CJK KR";
  font-weight: 200;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-DemiLight.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-DemiLight.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-DemiLight.otf') format('truetype');
}
@font-face {
  font-family: "Noto Sans CJK KR";
  font-weight: 300;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Light.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Light.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Light.otf') format('truetype');
}
@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 400;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Regular.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Regular.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Regular.otf') format('truetype');
}
@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: medium;
  font-weight: 500;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Medium.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Medium.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Medium.otf') format('truetype');
}
@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: bold;
  font-weight: 700;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Bold.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Bold.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Bold.otf') format('truetype');
}
@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: black;
  font-weight: 900;
  src: local("NotoSansCJKKR"),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Black.otf') format('woff2'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Black.otf') format('woff'),
      url('./font/NotoSansCJKkr/NotoSansCJKkr-Black.otf') format('truetype');
}
/* Font : GothamRounded */
@font-face {
  font-family: "GothamRounded";
  font-style: light;
  font-weight: 100;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-Light.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-Light.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-Light.otf') format('truetype');
}
@font-face {
  font-family: "GothamRounded";
  font-style: lightItalic;
  font-weight: 100;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-LightIta.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-LightIta.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-LightIta.otf') format('truetype');
}
@font-face {
  font-family: "GothamRounded";
  font-style: book;
  font-weight: 300;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-Book.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-Book.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-Book.otf') format('truetype');
}
/* @font-face {
  font-family: "GothamRounded";
  font-style: bookItalic;
  font-weight: 300;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-BookIta.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-BookIta.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-BookIta.otf') format('truetype');
} */
@font-face {
  font-family: "GothamRounded";
  font-style: medium;
  font-weight: 500;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-Medium.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-Medium.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-Medium.otf') format('truetype');
}
/* @font-face {
  font-family: "GothamRounded";
  font-style: mediumItalic;
  font-weight: 500;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-MedIta.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-MedIta.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-MedIta.otf') format('truetype');
} */
@font-face {
  font-family: "GothamRounded";
  font-style: bold;
  font-weight: 700;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-Bold.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-Bold.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-Bold.otf') format('truetype');
}
@font-face {
  font-family: "GothamRounded";
  font-style:Italic;
  font-weight: 700;
  src: local("GothamRounded"),
      url('./font/GothamRnd/GothamRnd-BoldIta.otf') format('woff2'),
      url('./font/GothamRnd/GothamRnd-BoldIta.otf') format('woff'),
      url('./font/GothamRnd/GothamRnd-BoldIta.otf') format('truetype');
}
/* Font : Roboto */
@font-face {
  font-family: "Roboto";
  font-style: lighter;
  font-weight: 100;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Thin.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Thin.ttf') format('woff'),
      url('./font/Roboto/Roboto-Thin.ttf') format('truetype');
}
/* @font-face {
  font-family: "Roboto";
  font-style: lighterItalic;
  font-weight: 100;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-ThinItalic.ttf') format('woff2'),
      url('./font/Roboto/Roboto-ThinItalic.ttf') format('woff'),
      url('./font/Roboto/Roboto-ThinItalic.ttf') format('truetype');
} */
@font-face {
  font-family: "Roboto";
  font-style: light;
  font-weight: 300;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Light.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Light.ttf') format('woff'),
      url('./font/Roboto/Roboto-Light.ttf') format('truetype');
}
/* @font-face {
  font-family: "Roboto";
  font-style: lightItalic;
  font-weight: 300;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-LightItalic.ttf') format('woff2'),
      url('./font/Roboto/Roboto-LightItalic.ttf') format('woff'),
      url('./font/Roboto/Roboto-LightItalic.ttf') format('truetype');
} */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Regular.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Regular.ttf') format('woff'),
      url('./font/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Medium.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Medium.ttf') format('woff'),
      url('./font/Roboto/Roboto-Medium.ttf') format('truetype');
}
/* @font-face {
  font-family: "Roboto";
  font-style: mediumItalic;
  font-weight: 500;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-MediumItalic.ttf') format('woff2'),
      url('./font/Roboto/Roboto-MediumItalic.ttf') format('woff'),
      url('./font/Roboto/Roboto-MediumItalic.ttf') format('truetype');
} */
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Bold.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Bold.ttf') format('woff'),
      url('./font/Roboto/Roboto-Bold.ttf') format('truetype');
}
/* @font-face {
  font-family: "Roboto";
  font-style: boldItalic;
  font-weight: 700;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-BoldItalic.ttf') format('woff2'),
      url('./font/Roboto/Roboto-BoldItalic.ttf') format('woff'),
      url('./font/Roboto/Roboto-BoldItalic.ttf') format('truetype');
} */
@font-face {
  font-family: "Roboto";
  font-style: black;
  font-weight: 900;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-Black.ttf') format('woff2'),
      url('./font/Roboto/Roboto-Black.ttf') format('woff'),
      url('./font/Roboto/Roboto-Black.ttf') format('truetype');
}
/* @font-face {
  font-family: "Roboto";
  font-style: blackItalic;
  font-weight: 900;
  src: local("Roboto"),
      url('./font/Roboto/Roboto-BlackItalic.ttf') format('woff2'),
      url('./font/Roboto/Roboto-BlackItalic.ttf') format('woff'),
      url('./font/Roboto/Roboto-BlackItalic.ttf') format('truetype');
} */
@font-face {
  font-family: "Pathfinder";
  font-style: normal;
  font-weight: 400;
  src: local("Pathfinder"),
      url('./font/Pathfinder/Pathfinder-R.otf') format('woff2'),
      url('./font/Pathfinder/Pathfinder-R.otf') format('woff'),
      url('./font/Pathfinder/Pathfinder-R.otf') format('truetype');
}
@font-face {
  font-family: "Pathfinder";
  font-style: bold;
  font-weight: 700;
  src: local("Pathfinder"),
      url('./font/Pathfinder/Pathfinder-B.otf') format('woff2'),
      url('./font/Pathfinder/Pathfinder-B.otf') format('woff'),
      url('./font/Pathfinder/Pathfinder-B.otf') format('truetype');
}

#root {
  font-family: "Noto Sans CJK KR";
  @apply
  /* max-h-[800px]
  max-w-[1280px] */
  w-full
  h-full
  min-h-fit
  min-w-fit
}
body {
  *::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  };
  *::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    background-clip: padding-box;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
  };
  *::-webkit-scrollbar-corner {
    display: none;
  }
  /* *::-webkit-scrollbar:vertical {
    height: 9px;
  };
  *::-webkit-scrollbar-thumb:vertical {
    background-color: #cccccc;
    background-clip: padding-box;
    border-bottom: 7px solid transparent;
  }; */
  /* *::-webkit-scrollbar-track {
    
    background-color: #222;
  } */

  @apply
  w-[100vw]
  h-[100vh]
  bg-black
  flex
  items-center
  justify-center
  
}

.login-section {
  @apply
  bg-[url('./util/svgs/svgLoginBackgroundImage.svg')]
}

.wrapper {
  @apply
  w-full
  h-full
  flex
  flex-1
  items-center
  justify-center
  bg-black
}
.container-wrapper {
  @apply
  flex
  flex-1
  max-h-[800px]
  max-w-[1280px]
  h-full
  w-full
  bg-[#3c2481]
}
.container-wrapper-electron {
  @apply
  flex
  flex-1
  h-full
  w-full
  bg-[#3c2481]
}
/* Route Screen */
.max-display-screen {
  @apply
  mx-auto
  items-center
  text-center
  w-full
  h-full
  
}
.use-nav-aside {
  @apply
  ml-[190px]
  !w-[calc(100%-220px)]
}
.use-nav-top {
  @apply
  pt-[111px]
}
.nav-menu-off {
  color: #fff;
  opacity: 0.5;
  font-family: 'Pathfinder';
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.nav-menu-on {
  color: #563ca0;
  font-family: 'Pathfinder';
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.top-right-user-info {
  @apply
  flex
  relative
  top-[20px]
  right-[-12px]
}
.top-right-user-info-text {
  @apply
  flex
  flex-col
  absolute
  top-[33px]
  right-[77px]
  w-[235px]
  text-right
}
.top-right-user-info-text-en-name {
  font-family: 'Pathfinder';
  font-weight: 700;
  color: #fff;
  line-height: 22.3px;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.top-right-user-info-text-class {
  font-family: 'Roboto';
  font-weight: 400;
  color: #fff;
  line-height: 20.2px;
  font-size: 16px;
}
.top-right-user-info-img {
  box-shadow: 0px 1px 4px 0px rgb(0, 0, 0, 0.25);
  @apply
  w-[50px]
  h-[50px]
  rounded-[50%]
  absolute
  top-[30px]
  right-[15px]
  
  border-[2px]
  border-[#fff]
}
/* Section */
.section-common-layout {
  backdrop-filter: blur(195px);
  background-color: rgba(225,225,225, 0.5);
  -webkit-backdrop-filter: blur(190px);
  background-size: cover;
  /* object-fit: contain; */
  @apply
  w-[calc(100%-30px)]
  h-[calc(100%-60px)]
  min-w-[1060px]
  /* bg-white */
  bg-menu-inner-img
  mt-[30px]
  rounded-[18px]
  /* bg-co */
}
.section-spark-writing {
  @apply
  w-[calc(100%)]
  h-[calc(100%)]
  rounded-[18px]
}
.wrap-contain-spark-writing {
  @apply
  w-[calc(100%)]
  h-[calc(100%)]
  flex flex-1
  flex-col
  z-0
  pt-[20px]
  px-[20px]
  pb-[30px]
}
.wrap-contain-2nd-spark-writing {
  @apply
  w-[calc(100%)]
  h-[calc(100%)]
  flex flex-1
  flex-col
  z-0
  pt-[0px]
  px-[20px]
  pb-[0px]
}
.wrap-guide-2nd-top-text-spark-writing {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #777;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  @apply
  flex
  flex-row pl-[15px]
}
.wrap-guide-2nd-text-spark-writing {
  font-family: 'GothamRounded';
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  @apply
  relative
  flex flex-row
  justify-center
  items-center
  rounded-t-[20px]
  w-full
  min-h-[50px]
  h-[50px]
  z-0
  bg-[#7861bb]
  capitalize
}
.wrap-guide-text-spark-writing {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  @apply
  flex flex-row
  justify-center
  items-center
  rounded-t-[20px]
  w-full
  min-h-[50px]
  h-[50px]
  z-0
  bg-[#7861bb]
}
.wrap-content-2nd-spark-writing {
  @apply
  flex flex-col 
  bg-white
  w-full
  h-[526px]
  overflow-y-auto
  z-0
  rounded-b-[20px]
  gap-[15px]
  p-[20px]
}
.wrap-content-2nd-spark-writing-teacher-modal {
  @apply
  flex flex-col 
  bg-white
  w-full
  h-[594px]
  overflow-y-auto
  z-0
  rounded-b-[20px]
  gap-[15px]
  p-[20px]
}
.wrap-content-spark-writing {
  @apply
  flex flex-col 
  bg-white
  w-full
  h-full
  overflow-y-auto
  z-0
  gap-[40px]
  p-[20px]
}

/* Modal */
/* PopupModal */
.modal-popup-background-div {
  @apply
  absolute
  top-1/2
  left-1/2
  z-50
  bg-gray-950/60
  p-4
  overflow-x-hidden
  overflow-y-auto
  md:inset-0
  h-full
  max-h-full
}
.modal-popup-area-div {
  @apply
  relative
  w-full
  max-h-full
  h-full
}
.modal-popup-area-window-div {
  @apply
  absolute
  top-1/3
  left-1/3
  h-max
  w-max
  /* relative */
  bg-[#d9e2f3]
  rounded-lg
  shadow-[5px_5px_5px_rgba(0,0,0,0.25)]
}
.modal-popup-messages-div {
  @apply
  mb-5
  text-lg
  font-normal
  text-black
}
/* chatbot modal */
.chatbot-modal-button {
  @apply
  block
  w-[90px]
  h-[90px]
  bg-chatbot-ella-button-icon
  bg-no-repeat
  bg-contain
  relative
  z-[1301]
  /* bg-[url('./components/toggleModalComponents/img/buttonEllaImg.png')]; */
  /* background: url('./components/toggleModalComponents/img/buttonEllaImg.png'); */
}
.chatbot-modal-button-inactive {
  @apply
  block
  w-[90px]
  h-[90px]
  bg-chatbot-ella-button-icon
  bg-no-repeat
  bg-contain
  relative
  z-[50]
  /* bg-[url('./components/toggleModalComponents/img/buttonEllaImg.png')]; */
  /* background: url('./components/toggleModalComponents/img/buttonEllaImg.png'); */
}

.chatbot-modal-popup-background-div {
  @apply
  flex
  absolute
  top-0
  left-0
  z-50
  bg-gray-950/60
  overflow-x-hidden
  overflow-y-auto
  inset-0
  w-full
  h-full
}
.chatbot-modal-popup-area-div {
  @apply
  flex
  justify-center
  items-center
  relative
  w-full
  h-full
}
.chatbot-modal-popup-area-window-div {
  @apply
  flex
  flex-col
  w-[60%]
  h-[60%]
  min-w-fit
  relative
  bg-[#d9e2f3]
  rounded-lg
  shadow-[5px_5px_5px_rgba(0,0,0,0.25)]
}
.chatbot-modal-popup-messages-div {
  @apply
  mb-5
  
  text-lg
  font-normal
  text-black
}
.chat-user-name-div {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  
}
.chat-ai-div {
  @apply
  flex
  row-auto
}
.chat-ai-div-child {
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  @apply
bg-[#fff]
  border-[1px]
  border-[#e1e1e8]
  text-black
  max-w-fit
  min-h-[50px]
  inline-block
  mt-[16px]
  px-[20px]
  py-[13.5px]
  shadow-sm
  rounded-t-[15px]
  rounded-br-[15px]
}
.chat-user-div {
  @apply flex
  justify-end
  row-auto
}
.chat-user-div-position {
  @apply
  text-right
}
.chat-user-div-child {
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  @apply
bg-[#ffea2c]
  text-black
  max-w-fit
  min-h-[50px]
  inline-block
  mt-[16px]
  px-[20px]
  py-[13.5px]
  shadow-sm
  rounded-t-[15px]
  rounded-bl-[15px]
}
.chatbot-chat-textarea {
  font-family: 'GothamRounded';
  font-size: '18px';
  font-weight:500;
  line-height: 'normal';
  letter-spacing: 'normal';
  @apply
  flex
  w-full
  min-h-[55px]
  rounded-[15px]
  border-[#dde1e8]
  border-[1px]
  px-[20px]
  pt-[13px]
  bg-[#f4f5f9]
  placeholder:text-[#d9d9d9]
}

/* Writing Center */
/* 1. Select */
.select-writing-item-button {
  @apply 
  /* w-[320px]
  h-[322px] */
  hover:cursor-pointer
  
}
.select-spark-writing-img {
  @apply
  bg-spark-writing-enter-img
  bg-no-repeat
  bg-cover
  w-[322px]
  h-[358px]
}
.left-top-text-title {
  font-family: 'Pathfinder';
  font-weight: 700;
  font-size: 34px;
  text-align: left;
  color: #222;
  width: 440px;
  height: 49px;
}
.left-top-text-sub-title {
  font-family: 'GothamRounded';
  font-weight: 300;
  font-size: 20px;
  align-items: start;
  text-align: left;
  color: #666;
  width: 222.5px;
  height: 33px;
  @apply
  flex
  flex-row
  pl-[44px]
  pt-0
  mt-0
}
.left-top-progress-buttons-div {
  @apply
  flex
  flex-row
  pl-[44px]
  pt-0
  mt-[5px]
  gap-[5px]
}
.left-top-progress-button-active {
  font-family: 'Pathfinder';
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  @apply
  flex
  justify-center
  items-center
  text-white
  w-[150px]
  h-[40px]
  bg-[#5f35ca]
  rounded-[10px]
  capitalize
}
.left-top-progress-button {
  font-family: 'Pathfinder';
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  @apply
  flex
  justify-center
  items-center
  text-white
  w-[150px]
  h-[40px]
  bg-[#c2d8f3]
  rounded-[10px]
  capitalize
}
.writing-activity-page-title-div {
  @apply
  flex
  flex-1
  h-[45px]
  items-center
}
.writing-activity-page-title-icon {
  @apply
  w-[42px]
  h-[35px]
}
.writing-activity-page-title-text {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-style: bold;
  color: #3e61aa;
  @apply
  ml-[9.5px]
}
.select-a-unit-to-begin {
  font-family: Roboto;
  font-size: 16px;
  color: #888;
  font-weight: 400;
  font-style: normal;
  @apply
  flex-grow-0
  text-left
}
/* 1.1. topic select button */
.select-writing-topic-item-button {
  
  background-size: contain;
  background-repeat: no-repeat;
  @apply 
  text-black
  w-[191px]
  h-[348px]
  min-w-[191px]
  min-h-[348px]
  bg-unit-book-icon
  /* hover:bg-unit-select-book-icon */
}
.select-writing-topic-item-button-last {
  
  background-size: contain;
  background-repeat: no-repeat;
  @apply 
  text-black
  w-[191px]
  h-[348px]
  min-w-[191px]
  min-h-[348px]
  bg-unit-select-book-icon
}
.unit-select-button-item {
  @apply
  pt-[20.3px] pl-[31px] text-start
  relative
}
.unit-select-button-item-head {
  @apply
  w-[150px]
  h-[100px]
}
.unit-select-button-item-unit {
  font-family: 'GothamRounded';
  font-size: 14px;
  font-weight: 700;
  @apply
  flex
  bg-[#b4b9cc]
  /* hover:bg-[#21c39a] */
  w-[58px]
  h-[26px]
  text-[#fff]
  rounded-[13px]
  justify-center
  items-center
}
.unit-select-button-item-unit-last {
  font-family: 'GothamRounded';
  font-size: 14px;
  font-weight: 700;
  @apply
  flex
  w-[58px]
  h-[26px]
  text-[#fff]
  rounded-[13px]
  justify-center
  items-center
  bg-[#21c39a]
}
.unit-select-button-item-title {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  max-lines: 2;
  @apply
  max-w-[130px]
  mt-[10.5px]
  text-[#3e61aa]
  
}
.unit-select-button-item-title-last {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  max-lines: 2;
  @apply
  max-w-[130px]
  mt-[10.5px]
  text-[#21c39a]
}
.unit-select-button-item-drafts {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #555;
  text-align: left;
  @apply
  bg-[#fff]
  rounded-[22px]
  w-[150px]
  h-[140px]
  pl-[15px]
  py-[15px]
}
.draft-icon-not-progress {
  @apply
  w-[45px] h-[44px]
  z-10
}
.draft-icon-in-progress {
  box-shadow: 0 0 6px 3px #9a76ff;
  @apply
  w-[44px] h-[44px]
  border-[3px]
  rounded-[25px]
  border-[#9a76ff]
  /* z-10 */
}
.unit-select-button-item-dotted {
  border-left: 2px dotted #ccc;
  @apply
  absolute
  mt-[24px]
  ml-[22px]
  w-[2px]
  h-[71px] 
}
.unit-complete-report-icon {
  @apply
  absolute
  bg-unit-complete-report-icon
  bg-no-repeat
  bg-contain
  w-[80px]
  h-[100px]
  z-30
  top-[20px]
  left-[35px]
}
.unit-complete-flower-icon {
  @apply
  absolute
  bg-unit-complete-flower-icon
  bg-no-repeat
  bg-contain
  w-[52.4px]
  h-[61.7px]
  z-30
  top-[-20px]
  right-[-9.4px]
}
.unit-select-bookmark {
  @apply
  absolute
  bg-unit-box-bookmark
  bg-no-repeat
  bg-contain
  w-[18px]
  h-[18.1px]
  z-30
  bottom-[-47px]
  
}
.select-unit-div {
  @apply
  flex flex-row
  pt-[22.9px]
  gap-[5px]
}
.select-unit-div-electron {
  @apply
  flex flex-row
  w-full
  pt-[22.9px]
  justify-center
  gap-[5px]
}

/*  */
.div-to-button-hover-effect {
  @apply
  hover:cursor-pointer
}
.outline-key-div {
  @apply
  absolute
  left-0
  top-[40%]
  text-white
  text-start
  text-xl
  w-full
  h-full
  pl-[20%]
}
.outline-content-box {
  @apply
  flex flex-1 flex-col
  justify-start
  text-start
  bg-transparent
  h-fit
  z-0
  relative
  /* bg-[url('/src/util/png/outlinTextSubBox.png')] */

}
.outline-content-box-item {
  @apply
  px-[15px]
  mt-[15px]
}

.outline-content-box-sub-item {
  @apply
  px-[15px]
  mt-[15px]
}

.buttons-div {
  @apply
  bg-white
  w-full
  h-[74px]
  rounded-b-[20px]
  flex
  flex-row
  justify-end
  gap-[10px]
  pt-[10px]
  pr-[20px]
  pb-[20px]
}
.save-button {
  font-family: GothamRounded;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 5px 0 0 #888;
  line-height: normal;
  letter-spacing: normal;
  @apply
  flex
  justify-center
  items-center
  rounded-[24px]
  w-[140px]
  h-[44px]
  text-white
  bg-[#aaa]
  cursor-default
}
.save-button-active {
  font-family: GothamRounded;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 5px 0 0 #1a9fa6;
  line-height: normal;
  letter-spacing: normal;
  @apply
  flex
  justify-center
  items-center
  rounded-[24px]
  w-[140px]
  h-[44px]
  text-white
  bg-[#21c4cc]
}

/* Preview Page */
/* Buttons */
.not-disabled-button {
  @apply
  border-black
  border
  rounded-md
  px-5
  py-1
  text-[#0070c0]
  font-bold
  shadow-[5px_5px_5px_rgba(0,0,0,0.25)]
  bg-white
}
.disabled-button {
  @apply
  border-black
  border
  rounded-md
  px-5
  py-1
  text-[#0070c0]
  font-bold
  shadow-[5px_5px_5px_rgba(0,0,0,0.25)]
  bg-[#bfbfbf]
}

.tooltip {
  /* position: relative; */
  display: inline-block;
  /* border-bottom: 1px dotted black; */
  
}

.tooltip .tooltiptext {
  /* visibility: hidden;
  max-width: 200px;
  background-color: #dae3f3;
  color: #0070c0;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border: 1px solid #32538f; */

  /* Position the tooltip */
  /* position: absolute;
  z-index: 50;
  top: 100%;
  left: 50%;
  margin-left: -60px; */
  display: none;
  position: absolute;
  max-width: 200px;
  border: 1px solid #32538f;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  color: #0070c0;
  background-color: #dae3f3;
  
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #32538f transparent;
}

.tooltip:hover .tooltiptext {
  display: block;
  visibility: visible;
}

/* Custom Grammar Tooltip by floating-react */
.grammar-tooltip-custom {
  padding: 5px 0 10px;
  @apply
  min-w-[320px]
  min-h-[160px]
  w-fit
  h-fit
  border-[2px]
  border-[#ccc]
  bg-white
  rounded-[20px]
}
.grammar-tooltip-custom-title {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  @apply
  text-[#555]
  flex w-full
  border-b-[1px]
  border-b-[#ccc]
  pl-[15px]
}
.grammar-tooltip-custom-popup {
  @apply
  flex
  flex-row
  justify-end
  absolute
  left-[12px]
  bottom-[10px]
  gap-[6px]
}
.grammar-tooltip-custom-popup-accept {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  @apply
  flex
  justify-center
  items-center
  min-w-[145px]
  h-[40px]
  bg-[#42278f]
  text-white
  rounded-[10px]
}
.grammar-tooltip-custom-popup-ignore {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  @apply
  flex
  justify-center
  items-center
  min-w-[145px]
  h-[40px]
  bg-[#dcdadf]
  text-[#959aaa]
  rounded-[10px]
}
.grammar-tooltip-custom-content-wrap {
  @apply
  flex
  flex-row
  pt-[22px]
  justify-center
}
.grammar-tooltip-custom-before-after-texts {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  @apply
  px-[4px]
  py-[1px]
  rounded-[5px]
  select-none
}
.grammar-tooltip-custom-content-delete-text {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  @apply
  px-[4px]
  py-[1px]
  rounded-[5px]
  text-[#eb3a3a]
  bg-[#ffe8e8]
  line-through
  select-none
}
.grammar-tooltip-custom-content-add-text {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  @apply
  px-[4px]
  py-[1px]
  rounded-[5px]
  text-[#00be91]
  bg-[#def4e7]
  select-none
}

/* Outlint Format Button Custom */
.outline-accordion-div-wrap {
  box-shadow: 0 5px 0 0 #e3e6ed;
  @apply
  flex
  flex-col
  w-full
  h-full
  relative
  border-[1px]
  border-[#A9BDE9]
  rounded-[15px]
  p-[10px]
}
.outline-accordion-button {
  @apply
  flex
  flex-1
  items-center
  h-[54px]
  w-full
  relative
  bg-white
  text-[#fff]
  
}
.outline-accordion-button-inner {
  @apply
  flex
  flex-1
  items-center
  h-full
  w-full
  relative
  rounded-[10px]
  bg-[#3E61AA]
  text-[#fff]
}
.outline-accordion-button-inner-text {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  @apply
  text-white
  mt-[12px]
  ml-[15px]
  mb-[13px]
}
.outline-accordion-button-inner-arrow {
  @apply
  absolute
  top-[9px]
  right-[10px]
}

.login_foot_style {
  color: #444;
  text-align: center;
  font-family: Noto Sans CJK KR;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pie-button-effect-none *{
  border: none;
  outline: none;
}
.legend-ul-custom {
  @apply
  flex
  flex-row
  justify-center
  gap-4
}

.btn-go-back-from-draft {
  @apply
  absolute
  bg-center
  bg-no-repeat
  bg-contain
  bg-back-in-draft-icon
  w-[90px]
  h-[90px]
  top-[15px]
  left-[20px]
}
.draft-unit-title-head-text {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
  color: #8d76cf;
  @apply
  flex
}
.draft-unit-sub-title-head-text {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #7861bb;
}
.preview-text-pre {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: normal;
  @apply
  overflow-hidden
  inline-block
  text-[#333]
  text-center
  overflow-ellipsis
  whitespace-nowrap
}
.preview-body-text-pre {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44;
  letter-spacing: normal;
  overflow-wrap: normal;
    word-break: break-all;
  @apply
  text-[#333]
  text-left
  inline-block
  flex-auto
  overflow-hidden
  whitespace-pre-wrap
}
.preview-sub-body-text-pre {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44;
  letter-spacing: normal;
  @apply
  text-[#333]
  text-left
  inline-block
  flex-auto
  whitespace-normal
}

/* Progress Page */
.progress-page-view-box-wrap {
  @apply
  flex
  flex-col
  h-[395px]
  max-w-[1010px]
  min-w-[1010px]
  rounded-[24px]
  bg-white
}
.progress-page-view-box-wrap-electron {
  @apply
  flex
  flex-col
  h-[395px]
  w-full
  min-w-[1010px]
  rounded-[24px]
  bg-white
  
}
.progress-page-view-box-header {
  @apply
  flex
}
.progress-page-view-box-content {
  @apply
  flex
  w-full
  h-full
  rounded-b-[24px]
  bg-[#f0f3f9]
  px-[10px]
  pb-[10px]
  border-b-[5px]
  border-x-[5px]
  border-white
  justify-center
}
.progress-page-view-box-list-icon {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: 12px;
  flex-grow: 0;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  @apply
  inline-flex w-[60px] h-[30px] 
  items-center justify-center capitalize 
  rounded-[15px] bg-[#3E61AA] text-white
}
.progress-page-view-box-list-label {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: 16px;
  flex-grow: 0;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.progress-page-view-box-list-date {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: '14px';
  flex-grow: 0;
  font-stretch: normal;
  font-style: normal;
  line-height: '10px';
  letter-spacing: normal;
  @apply
  inline-block
  w-[55px]
  h-[10px]
  text-center
  text-[#222222]
}
.progress-page-view-gothamRounded-bold {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: '12px';
  flex-grow: 0;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.progress-page-view-box-table-body-icons {
  @apply
  inline-flex
  flex-col
  w-[70px]
  h-[60px]
  min-w-[70px]
  min-h-[60px] 
  max-w-[70px]
  max-h-[60px]
  items-center
  justify-center
}
.progress-page-view-box-table-head-row {
  @apply
  h-[55px]
  pl-[440px]
  /* pr-[140px] */
  flex
  flex-row
  items-center
}
.progress-page-view-box-table-body-row {
  /* > td:first-child {
    border-radius: 30px 0 0 30px;
  };
  > td:last-child {
    border-radius: 0 30px 30px 0;
  }; */
  
  width: 980px;
  min-width: 980px;
  max-height: 60px;
  height: 60px;
  /* border-bottom: solid 5px #f0f3f9; */
  @apply
  flex flex-row
  bg-white
  rounded-[30px]
}
.progress-page-view-box-table-header {
  font-family: 'Roboto';
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: center;
  @apply
  flex
  justify-center
  w-[70px]
  min-w-[70px]
  max-w-[70px]
  text-[#222]
  text-[15px]
  capitalize
}
.progress-page-view-box-table-body-cell {
  @apply
  w-[70px]

}

.report-small-chart-inner-doughnut-label {
  font-family: 'GothamRounded';
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  @apply
  rounded-[50%] 
  shadow-[1px_1px_5px_rgba(0,0,0,0.16)]
  capitalize
}
.custom-tooltip {
  @apply
  bg-no-repeat
  object-fill
  /* bg-white */
  max-w-[255px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-organization {
  @apply
  bg-report-rechart-custom-tooltip-box-organization
  bg-no-repeat
  object-fill
  max-w-[255px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-voice {
  @apply
  bg-report-rechart-custom-tooltip-box-voice
  bg-no-repeat
  object-fill
  max-w-[255px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-conventions {
  @apply
  bg-report-rechart-custom-tooltip-box-conventions
  bg-no-repeat
  object-fill
  max-w-[255px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-sentencefluency {
  @apply
  bg-report-rechart-custom-tooltip-box-sentencefluency
  bg-no-repeat
  object-fill
  max-w-[255px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-wordchoice {
  @apply
  bg-report-rechart-custom-tooltip-box-wordchoice
  bg-no-repeat
  object-fill
  max-w-[255px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-ideas {
  @apply
  bg-report-rechart-custom-tooltip-box-ideas
  bg-no-repeat
  object-fill
  max-w-[255px]
  h-full
  px-[25px]
  pt-[10px]
  pb-[20px]
  flow-root
}
.custom-tooltip-title {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  @apply
  text-[#333333]
  
}
.custom-tooltip-content {
  font-family: 'GothamRounded';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: start;
  @apply
  text-[#222222]
  h-full 
}
.report-chart-pannel-report-by-unit-wrap {
  @apply
  w-[1010px]
  h-[424px]
  flex
  flex-col
  justify-center
  items-center
  pt-[30px]
  px-[70px]
}
.report-chart-pannel-report-by-unit-wrap-electron {
  @apply
  w-full
  h-[424px]
  flex
  flex-col
  justify-center
  items-center
  pt-[30px]
  px-[70px]
}
/* report chart right components */
.report-chart-right-components-div {
  @apply
  flex flex-col
  w-[500px]
}
.report-chart-righ-word-count-div {
  @apply
  flex flex-col
  w-[500px]
  justify-center
}
.report-chart-righ-word-count-title {
  
  @apply
  capitalize
  flex flex-row
  justify-center
  items-center
  rounded-t-[15px]
  text-[#222]
  w-[500px]
  h-[26px]
}
.report-chart-righ-word-count-title-span {
  font-family: 'GothamRounded';
  font-size: 12px;
  font-weight: 500;
  font-stretch: 'normal';
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  @apply
  capitalize
  flex flex-row
  justify-center
  items-center
  rounded-t-[15px]
  text-[#fff]
  w-[170px]
  h-[26px]
  bg-[#21c39a]
}
.report-chart-righ-word-count-content {
  @apply
  flex flex-row
  border-[1px]
  border-[#21c39a]
  rounded-[15px]
  w-[500px]
  h-[70px]
  items-center
}
.report-chart-righ-word-count-content-wrap {
  @apply
  flex flex-1
  flex-row
  w-full
  h-full
  justify-center
  items-center
  pl-[15px]
  gap-[10px]
}
.report-chart-righ-word-count-content-divide-line {
  @apply
  flex
  border-l-[1px]
  w-[1px]
  h-[50px]
}
.report-chart-righ-word-count-content-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  @apply
  text-[#222]
  flex flex-row
  items-center
  justify-center
  h-full
  capitalize
}
.report-chart-righ-word-count-content-items {
  @apply
  flex flex-col
  w-full
  h-[50px]
}
.report-chart-righ-word-count-content-item {
  @apply
  flex flex-row
  
}
.report-chart-righ-word-count-content-item-title {
  font-family: 'Roboto';
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  @apply
  flex flex-row w-[116px]
  capitalize
}
.report-chart-righ-word-count-content-item-value {
  font-family: 'GothamRounded';
  font-size: 12px;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5;
  @apply
  text-[#21c39a]
  flex flex-row
  pl-[10px]
}

.report-chart-teacher-comment-content-box {
  @apply
  flex flex-row
  border-[1px]
  border-[#21c39a]
  rounded-[15px]
  w-[500px]
  h-[50px]
  items-center
  overflow-y-auto
}
.report-chart-teacher-comment-content-box-span {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.33;
  text-align: left;
  @apply
  p-[10px]
  h-full
  flex flex-col
}
.report-chart-right-complete-date-title {
  font-family: 'Roboto';
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
  /* color: '#666' */
  @apply
  text-[#666]
}
.report-chart-righ-correction-content {
  @apply
  flex flex-row
  border-[1px]
  border-[#21c39a]
  rounded-[15px]
  w-[500px]
  h-[106px]
  py-[10px]
  pr-[10px]
  pl-[15px]
  items-center
}
.report-chart-righ-correction-content-item-title {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.33;
  text-align: left;

  @apply
  flex flex-row w-[75px]
  capitalize
}
.report-chart-righ-correction-content-item-title-selected {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.33;
  text-align: left;
  @apply
  flex flex-row w-[75px]
  capitalize
}
.report-chart-righ-correction-content-item-value {
  font-family: 'GothamRounded';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: 2.33;
  @apply
  text-[#21c39a]
  flex flex-row
  pl-[10px]
}
.report-chart-righ-correction-content-item-arrow {
  @apply
  flex flex-row
  justify-center
  items-center
  pl-[3px]
}
.report-chart-righ-correction-content-wrap-1 {
  @apply
  flex flex-row
  justify-center
  items-center
  w-full
}
.report-chart-righ-correction-content-wrap-2 {
  @apply
  flex flex-col
  justify-start
  items-start
  border-[1px]
  border-[#ddd]
  bg-[#f9f9f9]
  rounded-[10px]
  w-[300px]
  h-[86px]
  p-[10px]
  overflow-y-auto
}
.report-chart-righ-correction-content-item {
  @apply
  flex flex-row
  pl-[10px]
  hover:cursor-pointer
}
.report-chart-righ-correction-content-items {
  @apply
  flex flex-col
  min-w-[128]
}
.report-chart-correction-content-wrap {
  @apply
  flex
  flex-row
  justify-center
  items-center
  h-fit
  cursor-default
}
.report-chart-correction-content-delete-text {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
  @apply
  rounded-[5px]
  text-[#eb3a3a]
  line-through
  bg-[#ffe8e8]
  h-fit
}
.report-chart-correction-content-add-text {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
  @apply
  rounded-[5px]
  text-[#00be91]
  bg-[#def4e7]
  h-fit
}
.grammar-tooltip-custom-content-normal-text {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
  @apply
  rounded-[5px]
  text-[#222]
  h-fit
}
.report-chart-report-by-unit-title {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: normal;
  letter-spacing: normal;
  @apply
  flex flex-row
  text-[#222]
}
.report-modal-menu-div {
  @apply
  flex
  flex-row
  h-[95px]
  
}
.report-modal-menu-print {
  @apply
  flex
  justify-end
  h-full
  w-full
  mt-[25px]
}
.report-modal-menu-print-button {
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.25);
  border: solid 2px #614aa4;
  @apply
  flex
  w-[100px]
  h-[48px]
  bg-[#7861bb]
  rounded-[10px]
  justify-center
  items-center
  hover:cursor-pointer
}
.report-modal-menu-print-button-text {
  font-family: 'GothamRounded';
  font-size: 16px;
  text-align: center;
  @apply
  text-white
  capitalize
}
.report-modal-menu-buttons {
  @apply
  flex
  -mt-[1px]
}
.report-modal-menu-button {
  font-family: 'GothamRounded';
  font-weight: 700;

  @apply
  flex
  justify-center
  items-center
  w-[235px]
  h-[50px]
  capitalize
  opacity-[0.5]
  text-[#7861bb]
  hover:cursor-pointer
  border-none
}
.report-modal-menu-button-active {
  font-family: 'GothamRounded';
  font-weight: 700;
  @apply
  flex
  justify-center
  items-center
  w-[235px]
  h-[55px]
  capitalize
  bg-unit-report-modal-active-manu
  bg-no-repeat
  bg-cover
  text-white
  hover:cursor-pointer
  border-none
}

/* print preview */
.col-div {
  @apply
  flex
  flex-col
}
.row-div {
  @apply
  flex flex-row
}
/* font class */
.gothamrounded-medium {
  font-family: 'GothamRounded';
  font-weight: 500;
}
.gothamrounded-bold {
  font-family: 'GothamRounded';
  font-weight: 700;
}
.notoSansCJKKR-regular {
  font-family: 'Noto Sans CJK KR';
  font-weight: 400;
}
.notoSansCJKKR-medium {
  font-family: 'Noto Sans CJK KR';
  font-weight: 500;
}
.roboto-regular {
  font-family: 'Roboto';
  font-weight: 400;
}

.report-print-icon-div {
  @apply
  col-div
  w-[98px]
  h-[92.2px]
  m-[11px]
  justify-center
  items-center
}
.report-print-user-info {
  @apply
  col-div
  w-[670px]
  h-[115px]
  border-t-[1px]
  border-t-[#111111]
  ml-[20px]
}
.report-print-user-info-row {
  @apply
  row-div
  w-full border-b-[#dddddd] border-b-[1px]
}
.report-print-user-info-label {
  font-size: 12px;
  letter-spacing: normal;
  text-align: left;
  @apply
  notoSansCJKKR-medium
  capitalize
  text-[#222]
  flex
  items-center
  bg-[#f2f9ff]
  px-[10px]
  py-[6px]
}
.report-print-user-info-label-left {
  @apply
  report-print-user-info-label
  w-[114px]
}
.report-print-user-info-label-right {
  @apply
  report-print-user-info-label
  w-[69px]
}
.report-print-user-info-value {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  @apply
  notoSansCJKKR-regular
  text-[#222]
  flex
  items-center
  px-[10px]
  py-[6px]
}
.report-print-user-info-value-small {
  @apply
  report-print-user-info-value
  w-[239px]
}
.report-print-user-info-value-middle {
  @apply
  report-print-user-info-value
  w-[250px]
}
.report-print-user-info-value-large {
  @apply
  report-print-user-info-value
  w-[558px]
}
.report-print-evalueation-gragh-box {
  @apply
  row-div
  justify-center
  items-center
  gap-[15px]
  w-[810px]
  h-[180px]
  bg-[#f9f9f9]
  border-[1px]
  border-[#dddddd]
  rounded-[20px]
}

/* return 1st draft alert */
.return-1st-draft-alert-return-reason {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 22px;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: normal;
  @apply
  text-[#7861bb]
  h-[91px]
  flex
  justify-center
  items-center
  select-none
  hover:cursor-default
}
.return-1st-draft-alert-teacher-comment-title {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  @apply
  flex flex-row
  bg-[#7861bb] text-white
  w-[172.2px]
  h-[32.3px]
  items-center
  justify-center
  rounded-t-[10px]
  capitalize
  select-none
  hover:cursor-default
}
.return-1st-draft-alert-teacher-comment-content {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #333;
  @apply
  resize-none
  h-[250px]
  px-[20px]
  py-[20px]
  bg-[#ebf1f8]
  rounded-b-[20px]
  rounded-tr-[20px]
  border-none outline-none ring-0 focus:border-none focus:outline-none focus:ring-0
  select-none
  hover:cursor-default
}
.return-1st-draft-alert-button {
  font-family: 'GothamRounded';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  @apply
  rounded-[22px]
  w-[120px]
  h-[38px]
}
.return-1st-draft-alert-button-no {
  @apply
  return-1st-draft-alert-button
  border-[1px]
  border-[#21c4cc]
  flex
  items-center
  justify-center
  bg-white
  text-[#21c4cc]
  shadow-[0px_5px_0px_rgba(26,159,166,1)]
}
.return-1st-draft-alert-button-yes {
  @apply
  return-1st-draft-alert-button
  border-[1px]
  border-[#21c4cc]
  flex
  items-center
  justify-center
  bg-[#21c4cc]
  text-white
  shadow-[0px_5px_0px_rgba(26,159,166,1)]
}

/* 2nd draft overall button */
.overall-comment-2nd-draft-write-top-button {
  font-family: 'GothamRounded';
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  @apply
  border-[1px]
  border-[#21c4cc]
  flex
  items-center
  justify-center
  bg-[#21c4cc]
  text-white
  shadow-[0px_5px_0px_rgba(26,159,166,1)]
  w-[140px]
  h-[60px]
  px-[25px]
  rounded-[33.5px]
  capitalize
  hover:cursor-pointer
  select-none
}
.overall-comment-2nd-draft-write-top-tooltip-content {
  font-family: 'GothamRounded';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  border-radius: 10px;
  border: #21c4cc solid 3px;

  ::after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 15px 3px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 9999;
    top: 15px;
    right: 183px;
    rotate: 270deg;
  };

  ::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 25px 5px 0;
    border-color: #21c4cc transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: 10px;
    right: 175px;
    rotate: 270deg;
  };

  @apply
  flex
  flex-1
  flex-row
  px-[10px]
  py-[10px]
  w-full
  h-fit
  max-w-[900px]
  max-h-[75px]
  overflow-y-auto
  overflow-x-hidden
  bg-white
}
.update-words {
  @apply
  h-fit
}

.teacher-feedback-title-font {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  line-height: 1.22;
  box-shadow: 0 5px 0 0 #e3e6ed;
  @apply
  text-[#333]
  flex
  justify-center
  items-center
  py-[9px]
  px-[10px]
  border-[2px]
  border-[#3e61aa]
  rounded-[15px]
  bg-white
  h-[62px]
  min-h-[62px]
}
.teacher-feedback-body-font {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  line-height: 1.22;
  @apply
  text-[#333]
  flex
  flex-col
  justify-start
  justify-items-start
  gap-[26px]
  bg-white
  h-full
}
.draft-2nd-title-font {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  line-height: 1.22;
  box-shadow: 0 5px 0 0 #e3e6ed;
  @apply
  text-[#333]
  flex
  border-[2px]
  border-[#3e61aa]
  rounded-[15px]
  bg-white
  h-[62px]
}
.draft-2nd-title-wrap-textarea {
  @apply
  w-full
  resize-none
  border-none
  focus:border-none
  focus:ring-0
  rounded-[15px]
  text-center
  max-h-[62px]
  h-fit
  p-0
}
.draft-2nd-body-wrap-textarea {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  line-height: 1.22;
  color: #333333;
  @apply
  w-full
  h-full
  resize-none
  border-none
  focus:border-none
  focus:ring-0
  p-0

}
.draft-title-paragragh-wrap {
  @apply
  text-left
  align-middle
}
.draft-hover-tooltip-content-wrap {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  @apply
  max-w-[600px]
  w-fit
  h-fit
  p-[10px]
  border-[2px]
  border-[#f1b02e]
  bg-white
  rounded-[5px]
}

.draft-teacher-feedback-title-docs-find-button {
  @apply
  absolute
  top-[7px]
  right-[15px]
  w-[36px]
  h-[38px]
  bg-no-repeat
  bg-cover
  bg-teacher-feedback-more-comment-detail-button-icon
}

.draft-2nd-select-button-fresh {
  @apply
  w-[250px]
  h-[73px]
  bg-no-repeat
  bg-draft-2nd-fresh-page-button-svg
  bg-contain
  hover:cursor-pointer
}
.draft-2nd-select-button-revise {
  @apply
  w-[250px]
  h-[73px]
  bg-no-repeat
  bg-draft-2nd-revise-1st-button-svg
  bg-contain
  hover:cursor-pointer
}
.draft-2nd-button-wrap {
  @apply
  w-[140px]
  h-[49px]
  bg-no-repeat
  hover:cursor-pointer
}
.draft-2nd-save-button {
  @apply
  draft-2nd-button-wrap
  bg-draft-2nd-save-button-svg
}
.draft-2nd-save-button-readonly {
  @apply
  draft-2nd-button-wrap
  bg-draft-2nd-save-button-readonly-svg
}
.draft-2nd-submit-button {
  @apply
  draft-2nd-button-wrap
  bg-draft-2nd-submit-button-svg
}
.draft-2nd-submit-button-readonly {
  @apply
  draft-2nd-button-wrap
  bg-draft-2nd-submit-button-readonly-svg
}
.report-no-data-font {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: 26px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  @apply
  text-[#ccc]
}

.rubric-modal-head-font {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  @apply
  text-[#222]
}
.rubric-modal-body-font {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  vertical-align: top;
  @apply
  text-[#333]
}
.report-by-unit-page-title-font {
  font-family: 'GothamRounded';
  font-weight: 700;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  vertical-align: top;
  @apply
  text-[#333]
}

.export-lm-wh-draft-info-div {
  box-shadow: 0 0.79375mm 1.5875mm 0 rgba(0, 0, 0, 0.16);
  @apply
  flex
  flex-row
  border-[0.3mm]
  border-[#0fa9cb]
  rounded-[7.9375mm]
  bg-white
  justify-center
}
.export-lm-wh-font-gothamrounded {
  font-family: 'GothamRounded';
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color:#222;
  @apply
  flex
  capitalize
}
.export-lm-wh-font-sub-title {
  font-family: 'NotoSansCJKKR';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #222;
  @apply
  flex
  capitalize
}
.export-lm-wh-font-step-span {
  font-family: 'NotoSansCJKKR';
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  
  @apply
  flex
  
  capitalize
  text-white
}
.export-lm-wh-font-label {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: left;
  color: #999;
  @apply
  capitalize
}
.export-report-wr-userinfo-font-label {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  @apply
  capitalize
}
.export-portfolio-wr-userinfo-font-label {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #999;
  @apply
  capitalize
}
.export-portfolio-wr-userinfo-font-value {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.export-report-wr-userinfo-font-value {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.export-report-wr-big-title-font {
  font-family: 'GothamRounded';
  font-size: 3.870mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.595mm;
  letter-spacing: normal;
  text-align: center;
  color: #222;
}
.export-report-wr-bar-titles {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 5.321mm;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  @apply
  capitalize
}
.export-report-wr-sa-title-font {
  font-family: 'GothamRounded';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  @apply
  capitalize
}
.export-report-wr-sa-ar-title {
  font-family: 'NotoSansCJKKR';
  font-size: 2.660mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 8.465mm;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.export-report-wr-sa-ar-value {
  font-family: 'NotoSansCJKKR';
  font-size: 2.660mm;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.export-report-wr-oc-input {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.export-lm-wh-font-value {
  font-family: 'NotoSansCJKKR';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.export-report-wr-multi-values {
  font-family: 'GothamRounded';
  font-size: 2.660mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: left;
  color: #555;
}

.export-lm-wh-content-title {
  @apply
  bg-[#0fa9cb]
  absolute
  -left-[6mm]
  top-[10.583333333mm]
  w-fit
  h-[13.06mm]
  text-white
  rounded-r-[6.503mm]
  flex items-center
  pl-[4.7625mm]
  pr-[7.9375mm]
}
.export-lm-wh-content-title-deco {
  border-top: 3mm solid #177a8f;
  border-right: 2.8mm solid #177a8f;
  border-bottom: 3mm solid transparent;
  border-left: 2.8mm solid transparent;
  @apply
  absolute
  -left-[5.8mm]
  top-[23.7mm]
  w-0
  h-0
}
.export-portfolio-content-title-deco {
  border-top: 2.6mm solid #177a8f;
  border-right: 2.6mm solid #177a8f;
  border-bottom: 2.6mm solid transparent;
  border-left: 2.6mm solid transparent;
  @apply
  w-0
  h-0
}
.export-lm-wh-content-title-value {
  font-family: 'GothamRounded';
  font-size: 3.628mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.353mm;
  letter-spacing: normal;
  text-align: left;
  vertical-align: middle;
  @apply
  h-[4.353mm]
}
.export-lm-wh-content-body {
  font-family: 'NotoSansCJKKR';
  font-size: 3.7041666667mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 7.9375mm;
  letter-spacing: normal;
  text-align: left;
  color: #555;
  @apply
  mt-[31.2mm]
  mx-[13.229166667mm]
  mb-[9.674mm]
  flex flex-col
  w-[160.588mm]
  h-[195.662mm]
}
.export-lm-wh-content-pre-body {
  font-family: 'NotoSansCJKKR';
  font-size: 3.7041666667mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 7.9375mm;
  letter-spacing: normal;
  text-align: left;
  color: #555;
  @apply
  mx-[13.229166667mm]
  flex flex-col
  w-[160.588mm]
  h-[195.662mm]
}
.print-container {
  break-after: page;
}
/* .print-container + .print-container {
  margin-top:0;
} */
@page {
  /* margin: 0; */
  width: 210mm;
  height: 297mm;
}
@media print {
  /* .print-container + .print-container {
    margin-top:0;
  } */
  @page {
    /* margin: 0; */
    width: 210mm;
    height: 297mm;
  }
  /* .print-container {
  } */
}

/* .export-bt-print {
  @apply
  bg-svg-bt-print
  bg-no-repeat
  w-[36px]
  h-[36px]
}
.export-bt-pdf {
  @apply
  bg-svg-bt-pdf
  bg-no-repeat
  w-[36px]
  h-[36px]
} */
/* portfolio */
.portfolio-container-wrap {
  @apply
  w-[1010px]
  h-[492px]
  bg-white
  rounded-[24px]
  p-[35px]
}
.portfolio-container-wrap-electron {
  @apply
  /* w-[1010px] */
  w-full
  h-[492px]
  bg-white
  rounded-[24px]
  p-[35px]
}
.export-lm-wh-draft-info-numbering-div {
  font-family: 'GothamRounded';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.628mm;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #0fa9cb;
  @apply
  h-[9.674mm]
  w-[27.176mm]
  rounded-t-[7.256mm]
  flex items-center justify-center
  absolute
  bottom-0
}
.export-portfolio-paging-box {
  font-family: 'GothamRounded';
  font-size: 2.902mm;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.628mm;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #0fa9cb;
  @apply
  h-[9.674mm]
  w-[27.176mm]
  rounded-t-[7.256mm]
  flex items-center justify-center
}
.export-portfolio-body-content-font {
  font-family: 'NotoSansCJKKR';
  font-size: 3.386mm;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #555
}

.portfolio-contents-date-font {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3e61aa;
}
.portfolio-contents-label-font {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3e61aa;
}
.portfolio-contents-null-font {
  font-family: 'GothamRounded';
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #999;
}
.portfolio-modal-unit-box-content-title {
  font-family: 'GothamRounded';
  font-size: 17px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3e61aa;
}
.portfolio-modal-unit-box-content-body {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #333;
}